global !p
from snippet_helpers import math
endglobal

 
snippet cal "mathcal"
\mathcal{$0}
endsnippet


snippet it "mathit"
\mathit{$0}
endsnippet

 
snippet bf "mathbf"
\mathbf{$0}
endsnippet

 
snippet bb "mathbb"
\mathbb{$0}
endsnippet

 
snippet rm "mathrm"
\mathrm{$0}
endsnippet

 
snippet sf "mathsf"
\mathsf{$0}
endsnippet

 
snippet fk "mathfrak"
\mathfrak{$0}
endsnippet

 
snippet scr "mathscr"
\mathscr()
endsnippet
